{{!-- Overall page container --}}
<div class="container mt-5 ml-5">
     <div class="row">
          <div class="col-md-7">
               {{!-- Section for burgers user wants to eat --}}
               <h1>Burgers you want to eat</h1>
               <ol>
                    {{!-- For each burger in the data... --}}
                    {{#each burgers}}
                    {{!-- If devoured = false, show burger name here --}}
                    {{#unless devoured }}
                    <h4>
                         <li>{{burger_name}}
                         <img src="./images/icon.png"
                         <button class="eat-burger" data-id="{{id}}">DEVOUR!</button>
                         </li>
                    </h4>
                    {{/unless}}
                    {{/each}}
               </ol>
               {{!-- Section for burgers user already ate --}}
               <h1 class="pt-4">Burgers you already ate</h1>
               <ol>
                    {{!-- For each burger in the data... --}}
                    {{#each burgers}}
                    {{!-- If the user has eaten the burger, display burger name here --}}
                    {{#if devoured }}
                    <h4>
                         <li>{{burger_name}}</li>
                    </h4>
                    {{/if}}
                    {{/each}}
               </ol>
          </div>
          <div class="col-md-4 offset-md-1">
               {{!-- Area to add a burger --}}
               <form>
                    <div class="form-group">
                         <input type="text" class="form-control-lg" id="burger" placeholder="Enter a burger you'd like to eat.">
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg" id="btn-add">Submit</button>
               </form>
          </div>
     </div>
</div>