{{!-- Overall page container --}}
<div class="container mt-5 ml-5">
     <div class="row">
          <div class="col-12 order-2 order-md-1 col-md-8 col-lg-6">
               {{!-- Section for burgers user wants to eat --}}
               <h1 class="list">Burgers you want to eat</h1>
               <ol>
                    {{!-- For each burger in the data... --}}
                    {{#each burgers}}
                    {{!-- If devoured = false, show burger name here --}}
                         {{#unless devoured}}
                         <h4>
                              <li class="py-2">{{burger_name}}</h4>
                              <button type="button" class="btn btn-sm border px-0 ml-2" data-id="{{id}}">
                              <img src="./images/icon.png" class="icon">
                              DEVOUR!
                              </button>
                              </li><br>                
                         {{/unless}}
                    {{/each}}
               </ol>
               
               {{!-- Section for burgers user already ate --}}
               <h1 class="pt-4">Burgers you already ate</h1>
               <ol>
                    {{!-- For each burger in the data... --}}
                    {{#each burgers}}
                    {{!-- If the user has eaten the burger, display burger name here --}}
                    {{#if devoured }}
                    <h4>
                         <li>{{burger_name}}</li>
                    </h4>
                    {{/if}}
                    {{/each}}
               </ol>
          </div>
          <div class="col-12 order-1 col-md-3 order-md-2 offset-md-1 col-lg-4 offset-lg-2">
               {{!-- Area to add a burger --}}
               <form>
                    <div class="form-group">
                         <input type="text" class="form-control-lg" id="burger" placeholder="Enter a burger">
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg" id="btn-add">Add Burger</button>
               </form>
          </div>
     </div>
</div>