body {
    background-image: url("../images/burger_background.jpg");
    background-size: 105%;
    background-repeat: no-repeat;
    background-color:#211e17;
    color: white;
}

form {
    margin-top: 45%;
}

li {
    line-height: 1.5;
}

.btn-sm {
    background-color: #24211a;
    color: white;
    width: 20%;
}

.form-control-lg {
    width: 100%;
}

.icon {
    width: 30%;
}

#btn-add {
    width: 80%;
    margin-left: 10%;
}